
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>表格控件 - toolbar</title>
    <meta name="keywords" content="免费控件,免费UI控件,免费开源UI,免费开源UI控件,免费开源UI框架,可编辑表格,datagrid,editgrid" />
    <link href="/static/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />
    <link href="/static/lib/ligerUI/skins/ligerui-icons.css" rel="stylesheet" type="text/css" />
    <link href="/static/lib/ligerUI/skins/Gray/css/all.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
    <script src="http://i.gtimg.cn/qzone/biz/gdt/lib/jquery/jquery-2.1.4.js?max_age=31536000"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="/static/lib/jquery/jquery-1.9.0.min.js" type="text/javascript"></script>
    <script src="/static/lib/ligerUI/js/core/base.js" type="text/javascript"></script>
    <script src="/static/lib/ligerUI/js/plugins/ligerGrid.js" type="text/javascript"></script>
    <script src="/static/lib/ligerUI/js/plugins/ligerToolBar.js" type="text/javascript"></script>
    <script src="/static/lib/ligerUI/js/plugins/ligerResizable.js" type="text/javascript"></script>
    <script src="/static/lib/ligerUI/js/plugins/ligerCheckBox.js" type="text/javascript"></script>
    <script src="/static/lib/ligerUI/js/plugins/ligerDrag.js" type="text/javascript"></script>
    <script src="/static/lib/ligerUI/js/plugins/ligerDialog.js" type="text/javascript"></script>
    <script src="/static/lib/ligerUI/js/plugins/ligerResizable.js" type="text/javascript"></script>
    <script src="/static/lib/ligerUI/js/plugins/ligerComboBox.js" type="text/javascript"></script>
    <script src="/static/lib/ligerUI/js/plugins/ligerButton.js" type="text/javascript"></script>
    <script src="/static/lib/json2.js" type="text/javascript"></script>
    <script src="/static/lib/ligerUI/js/plugins/ligerDateEditor.js" type="text/javascript"></script>



    <script type="text/javascript">




        toastr.options = {
            closeButton: false,
            debug: false,
            progressBar: false,
            positionClass: "toast-top-center",
            onclick: null,
            showDuration: "200",
            hideDuration: "1000",
            timeOut: "500",
            extendedTimeOut: "1000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut"
        };


        $(document).ready(function () {
            $.ajax({
                url:"getExperimentalRecordList",
                success:function (result) {
                    console.log(result)
                    window['g'] = $("#maingrid").ligerGrid({
                        height:'100%',
                        checkbox: true,
                        columns: [
                            { display: 'id', hide: true ,name: 'id',  align: 'left', width: 1, minWidth: 1 },
                            { display: '试样编号',  name: 'sampleNumber', minWidth: 100 },
                            { display: '委托单号',  name: 'entrustmentNumber', align: 'left', width: 100, minWidth: 60 },
                            { display: '样式批次',  name: 'sampleBatch', width: 100, minWidth: 100 },
                            { display: '试验数据', name: 'experimentalData', minWidth: 100 },
                            { display: '试验员编号', name: 'testMembersNumber', minWidth: 100 },
                            { display: '数据类别', name: 'type', minWidth: 100 },
                            { display: '数据型号', name: 'machineType', minWidth: 100 },
                            { display: '机器编号', name: 'machineNumber', minWidth: 100 },
                            { display: '日期', name: 'createDate', minWidth: 100 },
                            {
                                display: '修改', isSort: false, render: function (rowdata, rowindex, value) {
                                    var h = "";
                                    {
                                        h += "<a href='javascript:updateRow(" + JSON.stringify(rowdata.id) + ")'>修改</a> ";
                                    }

                                    return h;
                                }
                            },
                            {
                                display: '删除' , isSort: false, render: function (rowdata, rowindex, value) {
                                    var h = "";
                                    {
                                        h += "<a href='javascript:deleteRow(" + JSON.stringify(rowdata.id)  + ")'>删除</a> ";

                                    }

                                    return h;
                                }
                            }
                        ], /*data:result.extend.MsgList,*/  pageSize:30 ,rownumbers:true,

                    });

                    toastr.success('刷新列表成功');
                    $("#pageloading").hide();
                },
                error:function () {
                    toastr.error("服务器繁忙，请稍后再试！")
                }
            });
        });

        function updateRow(id)
        {
            $.ligerDialog.open({
                height:300,
                width: 350,
                title : '修改批次号',
                url: '/picihaoupdate/'+ id,
                showMax: false,
                showToggle: true,
                showMin: false,
                isResize: true,
                slide: false,
                data: {
                    name: $("#txtValue").val()
                },
                //自定义参数
                myDataName: $("#txtValue").val()
            });
        }


        function deleteRow(id) {
            if (confirm('确定删除?'))
            {
                $.ajax({
                    url:"/picihaoDelete/" + id,
                    type:"PUT",
                    success:function (result) {
                        g.reload(result.extend.MsgList);
                        toastr.success('删除成功');
                    },
                    error:function () {
                        toastr.error("服务器繁忙，请稍后再试！")
                    }
                });
            }
        }

        function query() {

            if (id1.sampleBatch.value=="") {
                toastr.warning("请输入批次号！");id1.sampleBatch.focus();return false;
            }
            var a =  $("#div1 form").serialize();
            $.ajax({
                url:"slects",
                data:a,
                success:function (result) {
                    g.reload(result.extend.MsgList);
                },
                error:function () {
                    toastr.error("服务器繁忙，请稍后再试！")
                }
            });
        }
        function Reset_Style_Number() {
            if (id1.sampleBatch.value=="") {
                toastr.warning("请输入批次号！");
                id1.sampleBatch.focus();
                return false;
            }else {
                var a =  $("#div1 form").serialize();
                $.ajax({
                    url:"slects",
                    data:a,
                    success:function (result) {
                        g.reload(result.extend.MsgList);
                    },
                    error:function () {
                        toastr.error("服务器繁忙，请稍后再试！")
                    }
                });
            }

            if (id1.type.value=="") {
                toastr.warning("请输入数据类别！");id1.type.focus();return false;
            }
        }
    </script>
</head>
<body style="overflow-x:hidden; padding:2px;">
<div class="l-loading" style="display:block" id="pageloading"></div>
<!--<a class="l-button" style="width:120px;float:left; margin-left:10px; display:none;" onclick="deleteRow()">删除选择的行</a>-->


<div class="l-clear"></div>
<div style="padding:5px" id="div1" class="buttons">
    <form  id="id1">
        批次号:<input name="sampleBatch"  id="sampleBatch"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        数据类别:<select style="width:100px" name="type" id="type" />
        <option value="">全部</option>
        <option value="拉力">拉力</option>
        <option value="弯曲">弯曲</option>
        <option value="扭转">扭转</option>
        <option value="打结">打结</option>
        </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        机器编号:<input name="machineNumber" id="machineNumber"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" class="l-button"   value="查询" onclick="query()"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" class="l-button" value="批量修改" onclick="Batch_modification()"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" class="l-button" style="width: 80px " value="重置样式编号" onclick="Reset_Style_Number()"/>
    </form>
</div>
<div id="maingrid"></div>

<div style="display:none;">

</div>

</body>
</html>
