<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaokang.demo.dao.DiameterDeviationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiaokang.demo.bean.DiameterDeviation">
        <id column="id" property="id" />
        <result column="standard_num" property="standardNum" />
        <result column="diamete_min" property="diameteMin" />
        <result column="diamete_max" property="diameteMax" />
        <result column="type" property="type" />
        <result column="value" property="value" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, standard_num, diamete_min, diamete_max, type, value, state
    </sql>

</mapper>
