<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaokang.demo.dao.ReverseBendingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiaokang.demo.bean.ReverseBending">
        <id column="id" property="id" />
        <result column="standard _number" property="standard Number" />
        <result column="rated_strength" property="ratedStrength" />
        <result column="surface_state" property="surfaceState" />
        <result column="diamete_min" property="diameteMin" />
        <result column="diamete_max" property="diameteMax" />
        <result column="value_rob" property="valueRob" />
        <result column="type" property="type" />
        <result column="state" property="state" />
        <result column="usage" property="usage" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, standard _number, rated_strength, surface_state, diamete_min, diamete_max, value_rob, type, state, usage
    </sql>

</mapper>
