<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaokang.demo.dao.TensileStrengthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiaokang.demo.bean.TensileStrength">
        <id column="id" property="id" />
        <result column="standard_number" property="standardNumber" />
        <result column="strength_value" property="strengthValue" />
        <result column="rated_strength" property="ratedStrength" />
        <result column="type" property="type" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, standard_number, strength_value, rated_strength, type, state
    </sql>

</mapper>
